.box.box-primary
  .box-header.with-border
    %h3.box-title Edit #{resource_name.to_s.humanize}

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form' }) do |f|
    - if devise_error_messages!.present?
      .alert.alert-info= devise_error_messages!

    .box-body
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :avatar
        = f.file_field :avatar
        %p.help-block
          = image_tag @user.avatar.url(:thumb), class: 'user-image'
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p.help-block
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.label :locale
        = f.select :locale, %w(en pl), class: 'form-control'

      .form-group
        = f.label :password
        %i #{I18n.t('user_notice.leave_blank')}
        = f.password_field :password, autocomplete: "off", class: 'form-control'
        - if @minimum_password_length
          %p.help-block
            = I18n.t('user_notice.characters', number: @minimum_password_length)
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :current_password
        %i= I18n.t('user_notice.confirm_changes')
        = f.password_field :current_password, autocomplete: "off", class: 'form-control'

    .box-footer
      %button.btn.btn-primary{type: "submit"} #{I18n.t('update')}


%h3= I18n.t('cancel_account')
%p
  #{I18n.t('unhappy')} #{button_to I18n.t('cancel_account'), registration_path(resource_name), data: { confirm: I18n.t('are_you_sure') }, method: :delete, class: 'btn btn-default'}
= link_to I18n.t('back'), :back
