= image_tag treasure.photo.url, class: 'img-responsive'

= simple_form_for treasure do |f|
  = f.input :photo, as: :file
  = f.input :name
  = f.association :warehouse
  = f.association :status
  = f.input :description, as: :text
  = f.submit