%section.invoice{style: 'margin: 0px'}
  .row
    .col-xs-12
      %h2.page-header
        %i.fa.fa-info-circle
        = treasure.name
  .row.invoice-info
    .col-sm-5.invoice-col
      = Warehouse.model_name.human
      %p
        %strong= treasure.warehouse.name
      %p
        %small= "#{I18n.t('added')} #{treasure.decorate.created_at}"

    - if treasure.description.present?
      .col-sm-7.invoice-col
        = Treasure.human_attribute_name(:description)
        %div.text-muted.well.well-sm.no-shadow{style:'margin-top: 10px;'}
          = simple_format(treasure.description)

  .row.no-print
    .col-xs-12
      %a.btn.btn-danger.pull-right{ href: treasure_path(treasure), id: "delete_#{treasure.id}", data: { confirm: I18n.t('are_you_sure'), method: :delete }}
        %i.fa.fa-remove
        = I18n.t('delete')

      %a.btn.btn-warning.pull-right{href: edit_treasure_path(treasure), style: 'margin-right: 5px;', id: "edit_#{treasure.id}"}
        %i.fa.fa-edit
        = I18n.t('edit')


  %p{style: 'margin-top: 10px'}
    = link_to (image_tag treasure.photo.url(:large), class: 'img-responsive'), treasure.photo.url
