.box.box-primary
  .box-header.with-border
    %h3.box-title #{title}

  = simple_form_for warehouse do |f|
    .box-body
      = f.input :name
      = f.input :description, as: :text
    .box-footer
      = f.submit class: 'btn btn-primary'