.box
  .box-header
    %h3.box-title #{Warehouse.model_name.human(count: warehouses.count)} #{ link_to I18n.t('add'), new_warehouse_path, class: 'btn btn-default btn-xs btn-flat' }

  .box-body.table-responsive.no-padding
    %table.table.table-hover
      %tr
        %th= Warehouse.human_attribute_name(:name)
        %th= Warehouse.human_attribute_name(:description)
        %th
        %th

      - warehouses.each do |w|
        %tr
          %td= w.name
          %td= simple_format(w.description)
          %td
            = link_to '', edit_warehouse_path(w), class: 'glyphicon glyphicon-pencil index-icons'
          %td
            = link_to '', warehouse_path(w), method: :delete, class: 'glyphicon glyphicon-trash index-icons', data: { confirm: I18n.t('are_you_sure') }
