%body
  %header.main-header
    %a.logo{:href => root_path}
      / LOGO
      = I18n.t('my_treasures')
    / Header Navbar: style can be found in header.less
    %nav.navbar.navbar-static-top{:role => "navigation"}
      %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
        %span.sr-only Toggle navigation
      / Navbar Right Menu
      .navbar-custom-menu
        %ul.nav.navbar-nav
          %li
            = link_to I18n.t('add_treasure'), new_treasure_path, id: 'add_treasure'

          = render 'layouts/menu_treasures'

          / User Account: style can be found in dropdown.less
          - if user_signed_in?
            %li.dropdown.user.user-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = image_tag(current_user.avatar, class: 'user-image', alt: 'User Image')
                %span.hidden-xs= current_user.name
              %ul.dropdown-menu
                / User image
                %li.user-header
                  = image_tag(current_user.avatar, class: 'img-circle', alt: 'User Image')
                  %p
                    #{current_user.name}
                    %small= current_user.decorate.member_since
                / Menu Footer
                %li.user-footer
                  .pull-left
                    = link_to I18n.t('profile'), edit_user_registration_path, class: 'btn btn-default btn-flat'
                  .pull-right
                    = link_to I18n.t('sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat'
