.main-sidebar
  .sidebar
    %ul.sidebar-menu
      %li.header= I18n.t('resources')
      %li.active
        = link_to Warehouse.model_name.human(count: 2) , warehouses_path
      %li.active
        = link_to User.model_name.human(count: 2) , users_path
      %li.header= I18n.t('info')
      %li.active
        = link_to I18n.t('messages.messages'), paper_trail_messages_path